<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SQLConnection" connectionString="Data Source=192.168.1.112\MSSQL2008R2;Database=CWGLXHCertificate;User ID=sa;Password=jlcs**..123;Connect Timeout=5" />-->
    <!--<add name="SQLConnection" connectionString="Data Source=116.62.33.133;Database=CWGLXHCertificate;User ID=sa;Password=jlgf.com135246;Connect Timeout=5" />-->
    <add name="SQLConnection" connectionString="Data Source=.;Database=CWGLXHCertificate;User ID=sa;Password=123;Connect Timeout=5" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors mode="On" defaultRedirect="/Pages/Examine/Error.html">
      -->
    <!--<error statusCode="403" redirect="/error.htm" />
      <error statusCode="404" redirect="/error.htm" />-->
    <!--
    </customErrors>-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <!--接口地址-->
    <add key="olschoolpath" value="http://localhost:8014" />
    <!--<add key="olschoolpath" value="http://114.55.38.113:8054" />-->
    <add key="olschoolpath_mb" value="http://www.jinglve.com" />
    <add key="wangxiaohost" value="http://jluerawx.kjcytk.com" />
    <add key="classid" value="5000" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="/Pages/Error/401.html" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Pages/Error/403.html" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Pages/Error/404.html" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="/Pages/Error/405.html" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="/Pages/Error/406.html" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="/Pages/Error/412.html" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Pages/Error/500.html" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="/Pages/Error/501.html" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="/Pages/Error/502.html" responseMode="Redirect" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>