<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="SQLConnection" connectionString="Data Source=192.168.10.126;Database=JlueCertificate;User ID=sa;Password=sa01;Connect Timeout=50" />-->
    <add name="SQLConnection" connectionString="Data Source=116.62.33.133;Database=CWGLXHCertificate;User ID=sa;Password=jlgf.com135246;Connect Timeout=5" />
    <!--<add name="SQLConnection" connectionString="Data Source=192.168.1.113\MSSQL2008R2;Database=JlueCertificate;User ID=sa;Password=jlcs**..123;Connect Timeout=50"/>-->
  </connectionStrings>
  <appSettings>
    <!--会计实务考试链接-->
    <add key="huijishiwu" value="http://192.168.2.43:8090/JLStudent/ChongCi/PaperActionCopy" />
    <!--电脑账考试链接-->
    <add key="diannaozhang" value="https://ssl.jinglue.cn/DefaultIndex.aspx" />
    <!--报税考试链接-->
    <add key="baoshui" value="http://jluepracticecommongs.kjcytk.com/portal/index.aspx" />
    <!--网银考试链接-->
    <add key="wangyin" value="http://192.168.1.72:8049/main.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors defaultRedirect="/Pages/Examine/Error.html" mode="On">
        </customErrors>
    <!--<customErrors mode="On" defaultRedirect="/Pages/Examine/Error.html">
      -->
    <!--<error statusCode="403" redirect="/error.htm" />
      <error statusCode="404" redirect="/error.htm" />-->
    <!--
    </customErrors>-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="/Pages/Examine/Error/401.html" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Pages/Examine/Error/403.html" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Pages/Examine/Error/404.html" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="/Pages/Examine/Error/405.html" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="/Pages/Examine/Error/406.html" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="/Pages/Examine/Error/412.html" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Pages/Examine/Error/500.html" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="/Pages/Examine/Error/501.html" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="/Pages/Examine/Error/502.html" responseMode="Redirect" />
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
