<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>平时成绩</title>
    <meta name="keywords" content="" />
    <meta name="description" content="LarryCMS Version:1.09" />
    <meta name="Author" content="larry" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="../../../common/frame/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../common/css/gobal.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../common/css/animate.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../css/user.css" media="all">
    <style type="text/css">
        .label1 {
            width: 100px !important;
        }

        .label2 {
            width: 30px !important;
        }

        .layui-input-block1 {
            margin-left: 130px !important;
        }

        .layui-input-block2 {
            margin-left: 60px !important;
        }

        .layui-form-select dl {
            max-height: 200px !important;
        }

        .warm {
            color: #ff5722;
        }

        ol li {
            list-style: cjk-ideographic;
            color: blue
        }

        ol {
            padding-inline-start: 40px;
        }
    </style>
</head>

<body>
    <div class="layui-fluid larry-wrapper">
        <div class="layui-form layui-form-pane" style="margin-left: 20px; margin-right: 20px">
            <fieldset class="layui-elem-field layui-field-title site-title" style="border-top-color: #d82525">
                <legend><a name="color-design" style="color: #d82525;">平时成绩</a></legend>
            </fieldset>
            <div class="layui-form-item">
                <div class="user-tables">
                    <table id="Tables_subjectcore" lay-filter="Tables_subjectcore"></table>
                </div>
                <div id="laypage_subjectcore"></div>
            </div>
        </div>
    </div>
    <div class="layer_notice none" id="jindu">
        <div class="form-div">
            <p>总进度：{{videoreat}}% （已看完：{{lookvideo}} 段视频 ； 该课程共：{{allvideo}} 段视频）</p>
            <table class="layui-hide" id="test2" lay-filter="userTables2"></table>
        </div>
    </div>
    <script type="text/html" id="statusTpl1">
        {{# if(d.isEnd){ }}
        <span class="blue">已看完</span>
        {{# } else { }}
        <span class="warm">未看完</span>
        {{# } }}
    </script>
    <script type="text/html" id="userbar">
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    </script>
    <div class="layui-tab none" id="exam-papers" lay-filter="exam-papers">
        <ul class="layui-tab-title">
            <li v-for="item in Data" v-bind:lay-id="item.name">{{item.name}}</li>
        </ul>
        <div class="layui-tab-content">
            <template v-for="item in Data">
                <div class="layui-tab-item layui-collapse">
                    <div v-for="paper in item.papers" class="layui-colla-item" data-Coursesort="paper.Course_Sort"
                        v-bind:data-id="paper.paperid">
                        <h2 class="layui-colla-title">{{paper.papername}}<i class="layui-icon layui-colla-icon"></i>
                        </h2>
                        <div class="layui-colla-content">
                            <p v-if="paper.scores.length === 0">该试卷未作答</p>
                            <ol v-else>
                                <li v-for="score in paper.scores" class="scoredetail">{{score.Score + '分'}}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <!-- 加载js文件 -->
    <script type="text/javascript" src="../../../common/frame/layui/layui.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../../common/common.js"></script>
    <script type="text/javascript" src="../../js/Vue/vue.js"></script>
    <script type="text/javascript" src="../../js/score/querynormaldetail.js"></script>
</body>

</html>